<!--templates/post_about.html-->
{% extends 'base.html' %}
<h1>About</h1>
<p>
    Welcome to The Halawa Experience, your one stop shop for any and all things me. 
    Want to know what im thinking about just come back here and check out my new posts, want to hear my opinions on anything and everything its all here for the world to see.
</p>
