<!--templates/base.html-->
{% load static %}

<html>
    <head>
        <title>The Halawa Experience</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" ref="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
            <img src="{% static "img/logo.png" %}" alt="LOGO" style="width:500px"/>
            <header>
            <div class="nav-left"">
                <h1><a href = "{% url 'home' %}">The Halawa Experience</a> </h1>>      
            </div>
            
            <div class="nav-right">
                <a href="{% url 'post_new' %}"> New Blog Post</a>
            </div>

        </header>
        <footer> 
                <h1>about.html</h1> 
                  
        </footer>
        <div>
            {%block content%}
            {%endblock content%}
        </div>
    </body>
</html>