<!--templates/post_detail.html-->
{% extends 'base.html' %}

{% block content %}
        <div class="post-entry">
            <h2>{{post.title}}}</h2>
            <p>{{ post.body }}</p>
        </div>
    {% endblock content %}